@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

:root {
    --blue: hsl(223, 87%, 63%);
    --pale_blue: hsl(223, 100%, 88%);
    --light_red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
    --dark_blue: hsl(209, 33%, 12%);
}

* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-size: 1.25rem;
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 660px;
    margin: 4rem auto;
}

img {
    width: 100%;
}

.logo {
    width: 10%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.heading {
    color: var(--gray);
    font-weight: lighter;
    font-size: 3.2rem;
}

.heading span {
    color: var(--dark_blue);
    font-weight: bold;
}

.text {
    color: var(--gray);
    margin: 1rem 0 1.5rem;
}

.form_container {
    display: flex;
}

form {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

form .email {
    width: 65%;
    padding: 1rem 1.3rem;
    border: 1px solid var(--gray);
    border-radius: 50px;
    outline: none;
}

input::placeholder {
    color: var(--gray);
}

.btn {
    color: white;
    padding: 1rem 4rem;
    background-color: var(--blue);
    border-radius: 50px;
    border: 1px solid blue;
    margin-left: 0.6rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

footer {
    color: var(--gray);
}

.icons i {
    color: var(--blue);
    margin-top: 6rem;
    margin-left: 0.6rem;
    margin-bottom: 2rem;
    border: 1px solid var(--gray);
    padding: 0.5rem;
    width: 40px;
    border-radius: 50px;
}

.copy_text {
    font-size: 1rem;
}


